@using Codes
@model IEnumerable<Models.Car>
@{
    ViewBag.Title = "Index";
     Layout = "~/Areas/admin/Views/Shared/_AdminMasterLayout.cshtml"; 
}

<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Vehicle Management
            <small> 
               All Vehicles
            </small>
        </h3>
      @Html.Partial("_CarMenu")
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- BEGIN SAMPLE TABLE PORTLET-->
<div class="portlet box blue">

    @using (Html.BeginForm("Index", "Car", FormMethod.Get))
    {
        <div class="alert alert-success">
            @Html.TextBox("Search", ViewBag.Search as string, new { @class = "form-control serchtxt", onkeypress = "return validateAlphaNumericOnlyOnSearch(event,'searchData');" })
            <input type="submit" id="searchData" class="btn green" value="Search" />
        </div>             
    }

    <div class="portlet-title">
        <div class="caption"><i class="icon-cogs"></i>All Vehicles</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>

            <a href="javascript:;" class="reload"></a>

        </div>
    </div>

    <div class="portlet-body">
        @if (TempData["Message"] != null && TempData["Message"] != "")
        {
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert"></button>
                @TempData["Message"]
            </div>

        }
     	<div class="graph">
        <div class="tables">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Car Image</th>
                        <th>Name</th>
                        <th>Brand Name</th>
                        <th>Model Name</th>
                        <th>Type</th>
                         <th>Description</th>
                        <th>IsActive</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                                  
                        int i = 0;
                        foreach (var obj in Model)
                        {
                            i++;

                            string imageFile = HttpContext.Current.Server.MapPath("~/Content/" + "nologo.png");
                            if (!string.IsNullOrEmpty(obj.CarPhoto))
                            {
                                imageFile = HttpContext.Current.Server.MapPath(Codes.ConfigurationWrapper.GalleryPhoto + obj.CarPhoto);
                            }
                            else
                            {
                                obj.CarPhoto = "nologo.png";
                            }
                            Thumbnail thm = new Thumbnail(imageFile, 100, 80);
                            string ext = Path.GetExtension(obj.CarPhoto);
                            var resizedimage = "data:image/ " + ext.Split('.')[1] + ";base64," + Convert.ToBase64String((byte[])thm.ImageBytes);
                         
                        <tr>
                            <td>@i</td>
                             <td>
                                <img src="@resizedimage" alt="Vehicle Photo" title="@obj.CarPhoto"/></td>
                            <td>@obj.CarName</td>
                            <td>@obj.BrandName</td>
                            <td>@obj.ModelName</td>
                            <td>
                                @{
                                    var descrp = string.Empty;
                                    if (obj.Type != null)
                                    {
                                        descrp = Enum.GetValues(typeof(CarType))
                                    .Cast<CarType>()
                                    .ToDictionary(k => (int)k, v => ((Enum)v).GetDescription()).Where(x => x.Key == obj.Type).Select(x => x.Value.ToString()).First();
                                    }
                                    }

                                 @descrp

                            </td>
                            <td style="width:200px;">@Extensions.HtmlStrip(obj.Summary).TruncateAt(100)</td>
                             <td>@(obj.IsActive == true ? "Yes" : "No")</td>
                            <td colspan="2">
                                <a href="@Url.Action("Detail", "Car", new { Id = obj.CarId })">Edit</a>|
                                      <a href="@Url.Action("Delete", "Car", new { Id = obj.CarId })" onclick="return confirm('Are you sure want to remove this Car?')">
                                         Delete
                                      </a>
                            </td>
                        </tr>
                        }
                        if (i == 0)
                        {
                        <tr>
                            <td colspan="5">No Record Found</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
			</div>
        @Html.Partial("_Paging")
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
 <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        HighlightMenu('libusiness', 'libusinesssub', 'licarall');
    });

</script>
