@using Codes
@model ViewModel.UserViewModel
@{
    ViewBag.Title = "User";
 Layout = "~/Areas/admin/Views/Shared/_AdminMasterLayout.cshtml"; 
}


<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                User Management
            <small> 
               All Users
            </small>
        </h3>
      @Html.Partial("_UserMenu")
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
    <div class="panel panel-primary">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>User Details</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>

                    <a href="javascript:;" class="reload"></a>

                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                @using (Html.BeginForm("Detail", "User", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    if (!string.IsNullOrWhiteSpace(ViewBag.Success) && Model.UserId == 0)
                    {
                    <script type="text/javascript">
                        $(function () {
                            $("form :text").val("");
                            $("form :password").val("");
                            $("form :textarea").val("");
                        })
                    </script>        
                    }

                    if (!string.IsNullOrEmpty(ViewBag.Sucess))
                    {
                    <div class="alert alert-success">
                        <button class="close" data-dismiss="alert"></button>
                        @Html.Raw(ViewBag.Sucess)
                    </div>

                    }
                    else
                    {
                        if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
                        {
                    <div class="alert alert-error">
                        <button class="close" data-dismiss="alert"></button>
                        @Html.ValidationSummary(false)
                    </div>
                        }
                    } 
                    <div class="form-body">
                        @Html.HiddenFor(m => m.UserId)

                         <div class="form-group">
                            <label class="control-label col-md-3"> Email :</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.EmailId, new { @class = "form-control", @maxlength = "200" })

                            </div>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-md-3">Active</label>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(m => m.IsActive)
                            </div>
                        </div>
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">
                                 Save
                            </button>

                        </div>
                    </div>
                    
                    <div class="form-body">
                         <div class="form-group">
                            <label class="control-label col-md-3">Reply Message :</label>
                            <div class="col-md-8">
                                  <textarea maxlength="500" id="editor1" class="ckeditor" style="height:100px;" ></textarea>

                                	<script>
  CKEDITOR.replace( '#editor1' );
</script>



							
                            </div>
                        </div>
                    </div>
                    
                     <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" onclick="PostComments()"  class="btn green" value="Send" />
                        </div>
                    </div>
                }

                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
 <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.watermark.min.js")"></script>
<script type="text/javascript">

    $(document).ready(function () {
        HighlightMenu('liuser', 'liusersub', 'liuseradd');
    });


    function PostComments() {

        if ($('#editor1').val() == '') {
            alert("Please enter reply message!");
            return false;
        }
        else {

            var Criteria = JSON.stringify({ Email: $('#EmailId').val(), Message: $('#editor1').val() });
            $.ajaxSetup({ cache: false });
            $.ajax({
                type: "POST",
                url: '@Url.Action("Reply","User")',
                data: Criteria,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (error) {
                    // alert('Error:' + error.responseText);
                },
                success: function (data) {
                    if (parseInt(data) > 0) {
                        $('editor1').val('');
                        alert("Reply message Successfully sent");
                    }
                    else if (data.result == false) {
                        alert("Message sending failed.");
                    }
                }
            });
        }
    }

</script>